---
import Layout from '../layouts/Layout.astro';
import dataJson from '../../data.json';
import Socials from '../components/Socials.astro';



const graph = await fetch("https://api.github.com/graphql", {
    method: "POST",
    headers: {
      "Content-Type": "application/json",
      "Cache-Control": "private; stale-while-revalidate=3600",
      Authorization: `Bearer ${import.meta.env.GITHUB_TOKEN}`,
    },
	body: JSON.stringify({
  query: `
    query {
      user(login: "${dataJson.github.replace("https://github.com/", "")}") {
        name
        bio
        socialAccounts(first: 5) {
          nodes {
            provider
			displayName
            url
          }
        }
        repositories(first: 50) {
          nodes {
            name
            description
            isTemplate
          }
        }
      }
    }
  `,
  variables: {},
}),
})


const data = await graph.json();
---

<Layout title={dataJson.name}>
	<main class="p-6">
		<h1 class="my-2 font-bold text-4xl">{dataJson.name}</h1>
		<p class="font-regular text-lg">{dataJson.biography || data?.data?.user?.bio}</p>

		<div class="my-4">
			<Socials nodes={data?.data?.user?.socialAccounts?.nodes || []} github={dataJson.github.replace("https://github.com/", "")} />
		</div>

		<hr class="border-gray-700 border-opacity-30" />
	</main>
</Layout>